

td:hover {background-color: #69f}
table, td, th
{
    border: solid;
    border-color: black;    
    font-size: 18pt;
    
    width: 40%;
}
table { margin: auto}


#map
{
    padding: 10px;
    -moz-text-decoration-color: blue;
}
p
{
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header
{
    text-align: center;
    background: black;
    color:white;
}
.border
{
    border: 2px solid blueviolet;
}

div.fixed {
    position: fixed;
    bottom: 100%;
    right: 0;
    width: 250px;
    
    
}

button 
{
    border: 3px solid #69f;
    font-size: 20pt;
    float: right;
   
}
