

td:hover {background-color: #69f}
table, td, th
{
    border: solid;
    border-color: black;    
    font-size: 18pt;    
    width: 40%;
}
table 
{
    margin: auto;
    width: 80%;
}


#map
{
    padding: 10px;
    -moz-text-decoration-color: blue;
}
p
{
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header
{
    text-align: center;
    background: black;
    color:white;
}
.border
{
    border: 2px solid blueviolet;
}

div.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    
    
}

button 
{
    border: 3px solid #69f;
    font-size: 20pt;
    float: right;
   
}

.caption 
{
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #69f;
    color: #000;
    font-size: 16px;
    padding: 16px 32px;
}

.container:hover .caption
{
    opacity: 1;
}